.attributeTable {
  width: 100%;
}

.attributeCell {
  padding: 10pt;
  margin: 2pt;
}

.attributeRow {
  display: flex;
  flex-direction: row;
}

.attributeName {
  flex: 1 2 0;
}

.attributeValue {
  background-color: lightgray;
  flex: 2 5 0;
}

.attributeControls {
  flex: 1 1 0;
}

.mockBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
