*.iml
**/*~
.idea
.vscode/
*.swp
**/__pycache__
venv/
recommender_api/tools/build/
recommender_api/tools/tools.egg-info/
pyvenv.cfg
PTV
FinBERT
fasttext
.python-version
recommender_api/.wheel_cache
!recommender_api/.wheel_cache/.gitkeep
/.yarn
!.yarn/.gitkeep
gopath
!gopath/.gitkeep
.npm
.drone.yml
.coverage
.terraform-test

# We only need locale/af in the version control since translations are kept on Transifex
locale/*
!locale/af
/tests/robotframework/robot_test_results/*.png
/tests/robotframework/robot_test_results/*.html
/tests/robotframework/robot_test_results/*.xml
kubeconfig*
infra/terraform/modules/zulip-alerts/build/zulip-notify-lambda.zip

npm-license-report.txt
python-license-report.txt